<nz-card>
  <form nz-form [formGroup]="betFilterForm">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>From</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker formControlName="fromDate" nzPlaceHolder="Select date" nzFormat="dd-MM-yyyy"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-3">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>To</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker formControlName="toDate" nzPlaceHolder="Select date" nzFormat="dd-MM-yyyy"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-2">
        <button nz-button nzType="primary" title="Filter" (click)="doFilter()" [disabled]="betFilterForm.invalid">Filter</button>
      </div>
      <div class="col-2"></div>
    </div>
  </form>
  <nz-divider></nz-divider>
  <nz-table #basicTable [nzData]="betGroups" [nzShowPagination]="false" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>Tele Id</th>
      <th>Tele FullName</th>
      <th>Player Id</th>
      <th>Win/Lose</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basicTable.data; trackBy: trackIdentity">
      <td>{{item.teleId}}</td>
      <td>{{item.teleName}}</td>
      <td>{{item.playerId}}</td>
      <td>{{item.betWinLose}}</td>
      <td>{{item.betAmount}}</td>
    </tr>
    </tbody>
  </nz-table>
  <div class="ant-table-pagination ant-pagination">
    <nz-pagination [nzPageIndex]="ngbPaginationPage" [nzTotal]="totalItems" [nzPageSize]="itemsPerPage"
                   [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="loadPage(false, $event)"></nz-pagination>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }} - {{ range[1] }} of {{ totalItems }} items
    </ng-template>
  </div>
</nz-card>
