<nz-card>
  <nz-table [nzData]="betTypePrizes" [nzShowPagination]="false" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>Bet Type</th>
      <th>Prize</th>
      <th>Times</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let betTypePrize of betTypePrizes ;trackBy: trackId">
      <td>{{ betTypePrize.betTypeName }}</td>
      <td>{{ betTypePrize.prizeGame }}</td>
      <td>{{ betTypePrize.times }}</td>
      <td class="text-md-right">
        <a class="m-r-5" style="line-height: 0;" nz-button nzType="default"
           nzShape="circle" nz-tooltip nzTitle="Edit prize" nzPlacement="bottom" (click)="editPrize(betTypePrize)">
          <i nz-icon nzType="edit" theme="outline"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="ant-table-pagination ant-pagination">
    <nz-pagination [nzPageIndex]="page" [nzTotal]="totalItems" [nzPageSize]="itemsPerPage"
                   [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="loadPage($event)"></nz-pagination>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }} - {{ range[1] }} of {{ totalItems }} items
    </ng-template>
  </div>
</nz-card>
