<form nz-form nzLayout="vertical" novalidate [formGroup]="editForm">
  <div class="row">
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Number</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Please input bet number" formControlName="betNumber">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Win</nz-form-label>
        <nz-form-control>
          <input nz-input type="checkbox" formControlName="win">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Bet Type</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Please input bet type" formControlName="betType">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Bet Amount</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Please input bet amount" formControlName="betAmount">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Times</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Please input times" formControlName="times">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Player</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="playerId">
            <nz-option *ngFor="let player of players"
            [nzValue]="player.id" [nzLabel]="player.teleName"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-12">
      <nz-form-item>
        <nz-form-label>Game</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="gameId">
            <nz-option *ngFor="let game of games"
            [nzValue]="game.id" [nzLabel]="game.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-control>
      <div *nzModalFooter>
        <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
        <button nz-button nzType="primary" (click)="save()" [disabled]="editForm.invalid || isSaving">Save</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
