<nz-card>
  <div class="row m-b-30">
    <div class="text-center text-sm-left p-l-30">
      <h2 class="m-b-5">{{player?.teleId}}</h2>
      <p class="text-opacity font-size-13" *ngIf="player?.teleName">{{player?.teleName}}</p>
      <p class="text-dark m-b-20">{{player?.balance}} mBTC</p>
    </div>
  </div>
  <nz-divider></nz-divider>
  <nz-table #listViewTable [nzData]="playerCredits" [nzShowPagination]="false" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let playerCredit of playerCredits ;trackBy: trackId">
      <td>{{ playerCredit?.amount }}</td>
      <td>{{ playerCredit?.fromType }}</td>
      <td>{{ playerCredit?.createdDate | date: 'dd-MM-yyyy h:mm:ss' }}</td>
    </tr>
    </tbody>
  </nz-table>
  <div class="ant-table-pagination ant-pagination">
    <nz-pagination [nzPageIndex]="page" [nzTotal]="totalItems" [nzPageSize]="itemsPerPage"
                   [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="loadPage($event)"></nz-pagination>

    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }} - {{ range[1] }} of {{ totalItems }} items
    </ng-template>
  </div>
</nz-card>
