<form nz-form nzLayout="vertical" novalidate [formGroup]="agentForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
                <nz-form-label>Username</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input placeholder="Please input username" formControlName="userLogin" [disabled]="agent?.userLogin">
                  <div class="text-danger font-size-12" *ngIf="errorUserExists">
                    Login name already used!
                  </div>
                </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
                <nz-form-label>Password</nz-form-label>
                <nz-form-control *ngIf="!agent?.userLogin">
                  <input type="password" nz-input placeholder="Please input password" formControlName="password">
                </nz-form-control>
                <nz-form-control *ngIf="agent?.userLogin">
                  <input type="password" nz-input value="**********" [disabled]="agent?.userLogin">
                </nz-form-control>
              </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
                <nz-form-label>Name</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input placeholder="Please input name" formControlName="name">
                </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
                <nz-form-label>Code</nz-form-label>
                <nz-form-control>
                    <input type="text" nz-input placeholder="Please input code" formControlName="code" [disabled]="agent?.code">
                  <div class="text-danger font-size-12" *ngIf="errorAgentExists">
                    This code already used!
                  </div>
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                  <nz-form-label>Commission</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input placeholder="Please input commission" formControlName="commission">
                  </nz-form-control>
              </nz-form-item>
            </div>
          </div>
      </div>
    </div>
    <nz-form-item>
      <nz-form-control>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="destroyModal()">Cancel</button>
          <button nz-button nzType="primary" (click)="save()" [disabled]="agentForm.invalid || isSaving">{{btnLabel}}</button>
        </div>
      </nz-form-control>
    </nz-form-item>
</form>
