<nz-card>
  <form nz-form nzLayout="vertical" novalidate [formGroup]="settingForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label>Key</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="Please input key" formControlName="settingKey">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label>Value</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="Please input value" formControlName="settingValue">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>
    <nz-form-item>
      <nz-form-control>
        <div class="text-md-center">
          <button nz-button nzType="default">Cancel</button>
          <button nz-button nzType="primary" (click)="save()" [disabled]="settingForm.invalid || isSaving">Update</button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-table #basicTable [nzData]="poolSettings" [nzShowPagination]="false" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Pool</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let poolSetting of basicTable.data ;trackBy: trackId">
    <td>{{ poolSetting?.settingKey}}</td>
    <td>{{ poolSetting?.settingValue }}</td>
    <td>{{ poolSetting?.poolName }}</td>
    <td class="text-md-right">
      <a href="javascript:void (0);" class="m-r-5" style="line-height: 0;" nz-button nzType="default"
         nzShape="circle" nz-tooltip nzTitle="Edit Game" nzPlacement="bottom"
         (click)="updateForm(poolSetting)">
        <i nz-icon nzType="edit" theme="outline"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

